@*<script>
    function showLoading() {
        $('#pleaseWaitDialog').modal('show');
        //alert('ini');
    }
    function removeLoading() {
        //alert('fin');// $('#pleaseWaitDialog').modal('hide');

        $('#pleaseWaitDialog').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }
</script>*@

<table id="result" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre de Usuario</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:">
        @using www.aqmvc.com.pe.Data.Control
        @model IEnumerable<UsuarioModel>

        @foreach (UsuarioModel item in Model)
        {
            <tr>
                <td>@item.usu_id.ToString()</td>
                <td>@item.usu_nombre</td>
                <td>@item.nombre</td>
                <td>@item.usu_est_id</td>         
                <td><p data-placement="top" data-toggle="tooltip" title="Editar Password"><button title="Editar Password" data-dismiss="modal" data-backdrop="false" class="anchorDetail btn btn-primary" data-title="Editar Password" data-id="@item.usu_id" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
            </tr>

        }
    </tbody> 
    @if (Model.Count()!=0)
    {
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Nombre de Usuario</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Editar</th>
        </tr>
    </tfoot>
    }
</table>
<div id='myModal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>  
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">AddEdit Employee</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">


            </div>


        </div>

    </div>

</div>
@*<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="basicModal" aria-hidden="true" tabindex="-1"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1 style="font-size:18px;font-weight:bold;color:#1c334f">Espere un momento por favor...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="progress-bar" style="width: 100%;"><span class="sr-only">60% Complete</span></div></div></div></div></div></div>*@
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>



<script type="text/javascript">
    function InvalidMsg(textbox) {

        if (textbox.value.length == 0) {
            textbox.setCustomValidity('Ingresar el nombre a buscar');
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }

    $(document).ready(function () {
        $('#result').DataTable({
            "language": {
                "url": "../plugins/datatables/Spanish.json"
            },
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "iDisplayLength": 6
        });
    });   
</script>
<script>
    function limpiar_modal() {
        $('.modal-backdrop').remove();
        $('body').removeClass('modal-open');
    }
</script>
<script type="text/javascript">
    var error = '0';
    function onc() {
        @*if (error == '0')
            {
            $('#lista').load('@Url.Action("ListaUsuario", "Control")', { buscarnom: 'david' });
        }*@
    }
    function OnBegin_update() {
        //showLoading();
        error = '0'
        var msg_titulo = 'Mensaje Aquarella!';
        var id = $("#idusu").val();
        var pass = $("#txtnpass").val();
        var buscar = $("#buscarnom").val();
        var estado =$('select[name=dwestado]').selectpicker('val');
        $.ajax
              ({
                  url: '../Control/Edit',
                  dataType: "json",
                  type: "POST",
                  data: { _id: id, _pass: pass, _estado: estado },
                  success: function (data, textStatus, XMLHttpRequest) {
                      if (data.estado == '1') {
                          error = '0'
                          $('body').removeClass('modal-open');
                          $('#myModal').modal('hide');
                          $('.modal-backdrop').remove();
                          //$("body").addClass("modal-open");
                          //$('#myModal').removeData();
                          //$('#myModal').data('modal', null);
                          //removeLoading();
                          $('#lista').load('@Url.Action("ListaUsuario", "Control")', { buscarnom: buscar });

                          @*var content = '@Url.Action("ListaUsuario", "Control", new { buscarnom = "david" })';
                          $('#lista').load(content);*@

                          //$('#myModal').modal('hide');
                          //$('#replacetarget').load(result.url);
                          //$('body').removeClass('modal-open');
                          //$('body').addClass('modal-open');
                          //$('body').addClass('modal-open');


                          //$('.modal-backdrop').remove();
                          //$('#lista').load(result.url);
                         
                          //$('body').addClass('modal-open');
                          //toastr.success(data.desmsg, msg_titulo);
                      }
                      else {
                          error = '1'
                          toastr.error(data.desmsg, msg_titulo);
                      }
                  },
                  error: function (xhr) {
                      error = '1'
                      toastr.error(xhr, msg_titulo);
                  }
              })

    }

    //function SetData(data) {
    //    $("#lista").html(data); //HTML DOM replace
    //}

</script>

<script>

  


  
    $(function () {
        $(".anchorDetail").click(function () {
         
            var TeamDetailPostBackURL = '/Control/Edit';
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };  
            $.ajax({  
                type: "GET",  
                url: TeamDetailPostBackURL,  
                contentType: "application/json; charset=utf-8",  
                data: { "Id": id },               
                cache:true,
                success: function (data) {                   
                    $('#myModalContent').html(data);  
                    $('#myModal').modal(options);  
                    $('#myModal').modal('show');                   
                },  
                error: function () {                
                    alert("Dynamic content load failed.");                 
                }  
            });  
        });  
     
  
        $("#closbtn").click(function () {
           // debugger;
            $('#myModal').modal('hide');  
        });                 
    });

</script>
