<!DOCTYPE html>
<html>
<head lang="es-pe">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - {Aquarella Perú}</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAukKTZvpWOtUOUtr8tK1_J798-JsPlMm8&sensor=true"></script>*@
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">



    <style>
        .header {
	padding:0px 0 11px 0;
	background:#fff;
	border-top:5px #d00b01 solid;
}
    </style>
</head>

<body>
    <div class="header">
        <nav class="navbar" role="navigation">
            <div class="container">
               
                    <a class="navbar-brand"  href="@Url.Action("Index", "Home")"></a>
                               <div class="collapse navbar-collapse" id="top-navbar-1">
                    <ul class="nav navbar-nav navbar-right">

                   
                        @{informativa.aquarella.com.oe.Models.Ent_Usuario user = (informativa.aquarella.com.oe.Models.Ent_Usuario)HttpContext.Current.Session[informativa.aquarella.com.oe.Models.Util.Ent_Constantes.NameSessionUser];}
                        @if (user != null)
                        {
                        <li>
                            <a href="@Url.Action("Index", "Catalogo")"><i class="fa fa-folder-open  fa-3x" style="color:burlywood"></i><br>Catálogo</a>
                        </li>
                        
                        <li>
                            <a href="@Url.Action("Index", "Pasarela")"><i class="fa fa-picture-o  fa-3x" style="color: brown"></i><br>Pasarela</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Beneficio")"><i class="fa fa-gift  fa-3x" style="color:#FE642E"></i><br>Beneficios</a>
                        </li>

                            <li>
                                <a href="@Url.Action("LogOff", "Login")"><i class="fa fa-user  fa-3x" style="color:maroon"></i><br>Cerrar Sesión</a>
                            </li>
                        }
                    </ul>

                </div>

                
               
            </div>
        </nav>
 
        <div>
            @RenderBody()
        </div>
        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAukKTZvpWOtUOUtr8tK1_J798-JsPlMm8"></script>
        <script src="~/assets/js/jquery.ui.map.min.js"></script>
        <script src="~/assets/js/scripts.js"></script>
        <script src="@Url.Content("~/Scripts/alertasdiag.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.toaster.js")"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
