<input type="hidden" id="idfun" value="@ViewBag.rolid" />
<script>
        function showLoading() {
            $('#pleaseWaitDialog').modal('show');
            //alert('ini');
        }
        function removeLoading() {
            //alert('fin');// $('#pleaseWaitDialog').modal('hide');

            $('#pleaseWaitDialog').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        }
    </script>
<table id="result" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach:">
        @using www.aqmvc.com.pe.Data.Control
        @model IEnumerable<RolesFuncion>

        @foreach (RolesFuncion item in Model)
        {
            <tr>
                <td>@item.fun_id.ToString()</td>
                <td>@item.fun_nombre.ToString()</td>
                <td>
                    <div class="pull-right">
                        <button title="Borrar" class="btnborrar btn btn-danger" data-id="@item.fun_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="basicModal" aria-hidden="true" tabindex="-1"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1 style="font-size:18px;font-weight:bold;color:#1c334f">Espere un momento por favor...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="progress-bar" style="width: 100%;"><span class="sr-only">60% Complete</span></div></div></div></div></div></div>                   
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#result').DataTable({
            "language": {
                "url": "../plugins/datatables/Spanish.json"
            },
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "iDisplayLength": 4
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".btnborrar").click(function () {
            var $buttonClicked = $(this);
            var rolid = $("#idrol").val();
            var funid = $buttonClicked.attr('data-id');
            bootbox.confirm({
                message: "Esta seguro de borrar de la lista el id: " + funid,
                buttons: {
                    confirm: {
                        label: 'Si',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        showLoading();
                        $.ajax
                            ({
                                url: '../Roles/Borrar_Fun',
                                dataType: "json",
                                type: "POST",
                                data: { fun_id: funid, rol_id: rolid },
                                success: function (data, textStatus, XMLHttpRequest) {
                                    if (data.estado == '1') {
                                        removeLoading();
                                        $('#lista').load('@Url.Action("ListaFunRol", "Roles")', { rolid: rolid });
                                        toastr.success(data.desmsg, msg_titulo);
                                    }
                                    else {
                                        removeLoading();
                                        toastr.error(data.desmsg, msg_titulo);
                                    }
                                },
                                error: function (xhr) {
                                    removeLoading();
                                    toastr.error(xhr, msg_titulo);
                                }
                            })
                    }
                }
            });
        })
    })
</script>