<script type="text/javascript">
    function InvalidMsg(textbox, str) {

        if (textbox.value.length == 0) {
            textbox.setCustomValidity(str);
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }
</script>
<script type="text/javascript">
    function OnEditar_Grabar() {
        var msg_titulo = 'Mensaje Aquarella!';
        var id = $("#idapl").val();
        var nombre = $("#nombre").val();
        var urlruta = $("#urlruta").val();
        var orden = $("#orden").val();
        var estado = $('select[name=dwestado]').selectpicker('val');
        var controller = $("#controller").val();
        var action = $("#action").val();

        showLoading();
        $.ajax
             ({
                 url: '../Aplicacion/Edit',
                 dataType: "json",
                 type: "POST",
                 data: { apl_id:id,apl_nombre: nombre, apl_url: urlruta, apl_orden: orden, apl_est_id: estado, apl_controller: controller, apl_action: action },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {

                         $('#myModalnew').modal('hide');
                         $('body').removeClass('modal-open');
                         $('.modal-backdrop').remove();

                         $('#lista').load('@Url.Action("ListaAplicacion", "Aplicacion")', {});
                         toastr.success(data.desmsg, msg_titulo);
                     }
                     else {
                         toastr.error(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     toastr.error(xhr, msg_titulo);
                 }
             })

    }
</script>

@model www.aqmvc.com.pe.Data.Control.Aplicacion
@{
    Layout = null;
}
@Scripts.Render("~/bundles/bootstrap-select")
@Styles.Render("~/Content/Bootstrap-Select/css")
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />
@using (Ajax.BeginForm("Aplicacion", new AjaxOptions { OnBegin = "OnEditar_Grabar();", OnComplete = "removeLoading();", OnFailure = "removeLoading();" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading"><b>Editando Aplicación</b></h4>
        </div>
        <div class="modal-body" id="myModalBody">
            <form id="contactform" role="form">
                <input type="hidden" id="idapl" value="@Model.apl_id" />
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" value="@Model.apl_nombre" placeholder="Ingrese el nombre" autofocus class="form-control" oninvalid="InvalidMsg(this,'Ingrese el nombre')" required="required" />
                </div>
                <div class="form-group">
                    <label for="urlruta">Ruta URL App</label>
                    <input type="text" id="urlruta" value="@Model.apl_url" placeholder="Ingrese la Ruta URL App" autofocus class="form-control" />
                </div>
                <div class="form-group">
                    <label for="orden">Orden</label>
                    <input type="text" id="orden" value="@Model.apl_orden" placeholder="Ingese el orden" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="dwestado">Estado</label>
                    @Html.DropDownList("dwestado", new SelectList(ViewBag.estado, "_est_id", "_est_des", Model.apl_est_id), new { @class = "selectCountry form-control", @id = "dwestado" })
                </div>
                <div class="form-group">
                    <label for="controller">Controller</label>
                    <input type="text" id="controller" value="@Model.apl_controller" placeholder="Ingrese el controller" class="form-control" oninvalid="InvalidMsg(this,'Ingrese el controller')" required="required" />
                </div>
                <div class="form-group">
                    <label for="action">Action</label>
                    <input type="text" id="action" value="@Model.apl_action" placeholder="Ingrese el action" class="form-control" oninvalid="InvalidMsg(this,'Ingrese el action')" required="required" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Aceptar</button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
}
<script>


$(document).ready(function() {
    $("#dwfuncion").select({
        dropdownParent: $("#myModalnew")
  });
});

</script>