
<script type="text/javascript">
    function onAgregar_Apl() {
        var msg_titulo = 'Mensaje Aquarella!';
        var funid = $("#idfun").val();      
        var aplid = $('select[name=dwapl]').selectpicker('val');
        $.ajax
             ({
                 url: '../Funcion/Agregar_Apl',
                 dataType: "json",
                 type: "POST",
                 data: { apl_id: aplid, fun_id: funid },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {                      
                         $('#lista').load('@Url.Action("ListaAplFun", "Funcion")', { funid: funid });                         
                         toastr.success(data.desmsg, msg_titulo);
                     }
                     else {
                         toastr.error(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     toastr.error(xhr, msg_titulo);
                 }
             })

    }
</script>



@using www.aqmvc.com.pe.Data.Control
@model IEnumerable<FuncionAplicacion>


@{ 
    Layout = null;
}
@Scripts.Render("~/bundles/bootstrap-select")
@Styles.Render("~/Content/Bootstrap-Select/css")
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading"><b>Adicionar aplicacion a función</b></h4>
    </div>
    <div class="modal-body" id="myModalBody">
@using (Ajax.BeginForm("Funcion", new AjaxOptions { OnBegin = "onAgregar_Apl();" }))
{
        <form id="editfuncion" role="form">
            <input type="hidden" id="idfun" value="@ViewBag.funid" />
            <div class="form-group">
                <div class="input-group">
                    <label for="dwapl">Aplicación {Función - @ViewBag.funnombre}</label>
                </div>
                <div class="input-group">                   
                    @Html.DropDownList("dwapl", new SelectList(ViewBag.aplicacion, "apl_id", "apl_nombre"), new { @class = "selectCountry form-control", @data_live_search = "true", @id = "dwapl", @required = "required" })                                      
                        <span class="input-group-btn" >
                            <button type="submit" title="Agregar aplicación" class="btn btn-primary btn-flat">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                   
                </div>               
            </div>                        
        </form>
}
        <div class="form-group" id="lista">
            @{Html.RenderPartial("ListaAplFun", Model); }
        </div>
    </div>   
</div>
                    
<script>


$(document).ready(function() {
    $("#dwfuncion").select({
        dropdownParent: $("#myModalnew")
  });
});

</script>