@using informativa.aquarella.com.oe.Models
@model IEnumerable<Ent_Catalogo>
@{
    ViewBag.Title = "Catalogo";
}
<script src="@Url.Content("~/assets/bootstrap/js/bootstrap.min.js")"></script>
 <!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeIn">
                <i class="fa fa-camera"></i>
                <h1>Catalogo /</h1>
                <p>Aquí está los catalogo</p>
            </div>
        </div>
    </div>
</div>
 <!-- Portfolio -->
<div class="portfolio-container">
    <div class="container">
     
        <div class="row">
            <div class="col-sm-12 portfolio-masonry">
                 
            @foreach (Ent_Catalogo item in Model)
            {
                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="@item.Catologo_strRuta@item.Catologo_Carpeta/index.html" target="_blank"> <img src="@item.Catologo_strRuta@item.Catologo_Carpeta/pages/1.jpg" style="width:200px;height:250px" alt="" </a>
                        <div class="portfolio-box-text">
                            <h3>@item.Catalogo_Titulo</h3>
                            <p>@item.Catalogo_Descripcion</p>
                        </div>
                    </div>
                </div>
        }
                

    
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-1.11.1.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
@*<script src="~/Scripts/bootstrap-select.min.js"></script>*@
<script src="@Url.Content("~/assets/bootstrap/js/bootstrap.min.js")"></script>